<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IT School TODO App</title>
    </head>
    <body>
        <h1>Hello IT School!</h1>
        <h2>Hello IT School!</h2>
        <h3>Hello IT School!</h3>
        <h4>Hello IT School!</h4>
        <h5>Hello IT School!</h5>
        <h6>Hello IT School!</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eveniet voluptate, doloribus officia ut enim numquam reiciendis voluptas inventore odio! Architecto amet corporis sunt dolore odio consectetur, dignissimos sint. At!</p>
        <ul>
            <li>Cola</li>
            <li>Fanta</li>
            <li>Sprite</li>
        </ul>
        <a href="https://www.google.com">Click HERE!</a>
        <a href="https://www.instagram.com">Follow on Instagram</a>

        <img src="https://httpd.apache.org/images/httpd_logo_wide_new.png" alt="Apache logo">

        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </table>
        <div>
            <h1>Div here</h1>
            <p>Paragraph inside div</p>
        </div>
    </body>
</html>